<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todos</title>
    <link rel="stylesheet" href="styles/main.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <header>
      <h1>Todo Management</h1>
      <p>Manage your (daily) todos with ease!</p>
    </header>
    <main id="todos-app">
      <section id="todo-management">
        <form @submit="saveTodo">
          <label for="text">Todo text</label>
          <input type="text" id="text" v-model="enteredTodoText" required />
          <button>Save</button>
        </form>
      </section>
      <section id="todos">
        <p v-if="todos.length === 0 && !isLoading">
          할 일이 아직 추가되지 않았습니다. 할 일을 추가해주세요.
        </p>
        <p v-else-if="isLoading">로딩중...</p>
        <ul v-else id="todos-list">
          <li v-for="todo in todos">
            <p>{{ todo.text }}</p>
            <div>
              <button @click="startEditTodo(todo.id)">Edit</button>
              <button @click="deleteTodo(todo.id)">Delete</button>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
